<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/layui-2.4.3/css/layui.css?now=2}"/>
    <title>作品管理</title>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">中国原创音乐授权网</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div th:include="common/top :: top"></div>
<div th:include="common/menu :: menu"></div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5>专辑列表</h5>
                    </div>
                    <!--表格--合辑管理-->
                    <div class="ht-normal-table">
                        <table id="examain" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--弹框-->
<div class="modal fade bs-example-modal-sm"  id="selectResources" tabindex="-1" role="dialog" aria-labelledby="selectRoleLabel">
    <div class="modal-dialog modal-sm" role="document" style="height: 600px; "  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="selectRoleLabel">分配权限</h4>
            </div>
            <div class="modal-body">
                <form id="boxRoleForm" >
                    <ul id="treeDemo" class="ztree"></ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="saveRoleResources();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--弹框-->


<!--添加弹框-->
<div class="modal fade" id="resourcesModal" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addroleLabel">添加资源</h4>
            </div>
            <div class="modal-body">
                <form id="resourcesForm">
                    <div class="form-group">
                        <label  class="control-label">资源名称:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="请输入资源名称"/>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">父资源ID:</label>
                        <input type="text" class="form-control" id="parentId" name="parentid"  placeholder="请输入父资源ID">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">资源链接:</label>
                        <input type="text" class="form-control" id="resUrl" name="resurl"  placeholder="请输入资源链接">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">资源类型:</label>
                        <select class="form-control" name="type" id="type" >
                            <option value="1">菜单</option>
                            <option value="2" >按钮</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">排序:</label>
                        <input type="text" class="form-control" id="sort" name="sort"  placeholder="请输入排序">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="addResources();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--/添加弹框-->



<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; yqj <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script th:src="@{/layui-2.4.3/layui.js}"></script>
<script type="text/javascript">

    var table = null;
    var currId=null;

    layui.use('table', function () {
        table = layui.table;
        //第一个实例
        table.render({
            elem: '#examain'
            , url: 'album',
            id: 'testReload'
            , cols: [
                [
                    {
                        field: '', title: '合辑序号', sort: false,templet: function (d) {
                            if (d.id != null) {
                                return d.id;
                            } else {
                                return '';
                            }
                        }
                    }
                    ,{
                        field: '', title: '作者', sort: false,templet: function (d) {
                            if (d.username != null) {
                                return d.username;
                            } else {
                                return '';
                            }
                        }
                     }  ,{
                    field: '', title: '歌曲数', sort: false,templet: function (d) {
                        if (d.musicCount != null) {
                            return d.musicCount;
                          } else {
                            return '';
                        }
                       }
                    }
                    , {
                        field: '', title: '专辑名称', sort: false,templet: function (d) {
                            if (d.name != null) {
                                    return d.name;
                                } else {
                                    return '';
                                }
                        }
                    }
                    ,{
                        field: '', title: '专辑类型', sort: false,templet: function (d) {
                            if (d.type != null) {
                                return d.type;
                            } else {
                                return '';
                            }
                        }
                    } ,
                    {
                       field: '', title: '语种', sort: false,templet: function (d) {
                            if (d.languages != null) {
                                return d.languages;
                            } else {
                                return '';
                            }
                        }
                    }
                    ,
                    {
                        field: '', title: '操作', sort: false, fixed: 'right',  templet: function (d) {
                            return '<a href="javascript:;" onclick="edit('+d.id+')" class="btn-1"><font color="#6495ed" size="3">编辑</font></a>&nbsp;|&nbsp;<a href="javascript:;" onclick="del(' + d.id + ')" class="btn-1"><font color="#f6748e" size="3">删除</font></a>';
                        }
                    }
                ]
            ],
            page: true
        });
    });

    function del(obj) {
        // var files = obj[0].files[0]
        // var data = new FormData();
        // data.append('file', files);
        // $.ajax({
        //     url: '/admin/upload/substance',
        //     type: 'POST',
        //     data: data,
        //     cache: false,
        //     processData: false,
        //     contentType: false,
        //     success: function (data) {
        //         if (data.success) {
        //             var img = $(".img");
        //             img.css("background-image", "url(" + data.file_path + ")");
        //             img.show();
        //             layer.msg("上传成功！");
        //         } else {
        //             layer.msg("上传失败！");
        //         }
        //     }
        // });
        alert(obj)
    }

    function  edit(obj) {
        alert(obj)
        
    }




</script>

</body>
</html>