<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" >
    <title>作品管理</title>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">中国原创音乐授权网</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div th:include="common/top :: top"></div>
<div th:include="common/menu :: menu"></div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">音乐管理</a> </div>
    </div>

    <div class="container sMain">
        <div class="tab-ul">
            <ul class="mc-tabs" id="auto-id-1552619079766">
                <li class="tab-wrapper">
                    <a href="javascript:;" class="active"> 专辑信息 </a>
                </li>
                <li class="tab-wrapper">
                    <a href="javascript:;"> 作品列表 </a>
                </li>
            </ul>
        </div>
        <div class="box cur">
            <input hidden="hidden" id="id" th:value="${album.id}">
            <div class="addCategory">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">添加图片</label>
                        <img th:src="${album.coverImage==null?'/img/dieImg.png':album.coverImage}"  id="coverImage" />
                        <div id="imgPreview">
                            <div id="prompt3">
                                <span id="imgSpan">点击上传</span>
                                <input type="file" id="file" class="filepath"  accept="image/jpg,image/jpeg,image/png,image/PNG">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">专辑名称</label>
                        <div class="layui-input-inline width-layui">
                            <input type="text" placeholder="字符限制在50个以内" class="layui-input" name="name" id="name" lay-verify="required|title" required placeholder="" autocomplete="off" th:value="${album.name}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">专辑类型</label>
                        <div class="layui-input-inline width-layui">
                            <select name="quiz" lay-verify="required" lay-verType="tips" th:if="${typeList!=null}"  id="type">
                                <option th:each="obj:${typeList}" th:text="${obj.name}" th:value="${obj.id}" th:selected="${album.type==obj.id.toString()}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">专辑版本</label>
                            <div class="layui-input-inline width-layui">
                                <select name="quiz" lay-verify="required" lay-verType="tips" th:if="${versionList!=null}" id="version"  >
                                    <option th:each="obj:${versionList}" th:text="${obj.name}" th:value="${obj.id}" th:selected="${album.version == obj.id.toString()} "></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" >发行日期</label>
                            <div class="layui-input-inline width-layui">
                                <input type="text" class="layui-input" id="dateString" th:value="${album.dateString}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">语种</label>
                            <div class="layui-input-inline width-layui">
                                <select name="quiz" lay-verify="required" lay-verType="tips" th:if="${languagesList!=null}" id="languages" >
                                    <option th:each="obj:${languagesList}" th:text="${obj.name}" th:value="${obj.id}"  th:selected="${album.languages == obj.id.toString()} "></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">专辑风格</label>
                            <div class="layui-input-inline width-layui">
                                <select name="quiz" lay-verify="required" lay-verType="tips" th:if="${styleList!=null}"  id="style" >
                                    <option th:each="obj:${styleList}" th:text="${obj.name}" th:value="${obj.id}" th:selected="${album.style == obj.id.toString()} " ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">专辑描述</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="字符控制在40-10000个之间" class="layui-textarea width-layui-text" name="statement" id="statement" th:text="${album.statement}"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn bg" type="button" id="sureSave">立即保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box none">
            <table id="examain" lay-filter="test"></table>
        </div>
    </div>

</div>



<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; yqj <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    //显示状态
    layui.use(['form','laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
        laydate.render({
            elem: '#dateString' //指定元素
            // ,type: 'datetime'
            ,theme: '#393D49'
            //,range: true
            ,trigger: 'click'
        });
        //监听提交
        form.on('submit(*)', function(data){
            console.log(data)
            alert(JSON.stringify(data.field));
            return false;
        });
    });
    /*上传图片*/
 /*   function changepic() {
        var reads = new FileReader();
        f = document.getElementById('file').files[0];
        reads.readAsDataURL(f);
        reads.onload = function(e) {
            document.getElementById('coverImage').src = this.result;
            $("#coverImage").css("display", "block");
        };
    }*/
    //上传图片
    $('.filepath').change(function () {
        uuploadImage(document.getElementById('file').files[0]);
    });

    function uuploadImage(obj) {
        var isAllow=testMaxSize(obj,1024*2*1024);
        if(!isAllow){
            alert(" 图片大小超过2M限制！");
            return;
        }
        var data = new FormData();
        data.append('file', obj);
        $.ajax({
            url: '/upload/audio',
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                // var imgSpan = '  <img src='+data.file_path+'  id="coverImage" />';
                $('#coverImage').attr("src",data.file_path);
            }
        });
    }

    //菜单切换
    $(".mc-tabs li").click(function () {
        for (var i = 0; i < $(".mc-tabs li").size() ; i++) {
            if (this == $(".mc-tabs li").get(i)) {
                $(".mc-tabs li a").eq(i).addClass("active");
                $(".box").removeClass("cur");
                $(".box").eq(i).addClass("cur");
            } else {
                $(".mc-tabs li a").eq(i).removeClass("active");
            }
        }
    })
    /**
     *文件大小
     * @param fileData
     * @param Max_Size
     * @returns {boolean}
     */
    function testMaxSize(fileData,Max_Size){
        var isAllow=false;
        var size = fileData.size;
        isAllow = size <= Max_Size;
        return isAllow;
    }

    //保存专辑
    $("#sureSave").click(function () {
    $.ajax({
        url: '/album/sureSave',
        type: 'Post',
        dataType: "json", //表示返回值类型，不必须
        data: { id:$("#id").val(),coverImage: $("#coverImage")[0].src, name: $("#name").val(), type: $("#type").val(), version: $("#version").val(),dateString: $("#dateString").val(),languages: $("#languages").val(),style: $("#style").val(),statement: $("#statement").val()},
        success: function (data) {
         window.location.href="/albumPage"
        }
    });
    })


    //作品列表 start
    var table = null;
    var currId=null;

    layui.use('table', function () {
        table = layui.table;
        //第一个实例
        table.render({
            elem: '#examain'
            , url: '/album',
            id: 'testReload'
            , cols: [
                [
                    {
                        field: '', title: '合辑序号', sort: false,templet: function (d) {
                            if (d.id != null) {
                                return d.id;
                            } else {
                                return '';
                            }
                        }
                    }
                    ,{
                    field: '', title: '作者', sort: false,templet: function (d) {
                        if (d.username != null) {
                            return d.username;
                        } else {
                            return '';
                        }
                    }
                }  ,{
                    field: '', title: '歌曲数', sort: false,templet: function (d) {
                        if (d.musicCount != null) {
                            return d.musicCount;
                        } else {
                            return '';
                        }
                    }
                }
                    , {
                    field: '', title: '专辑名称', sort: false,templet: function (d) {
                        if (d.name != null) {
                            return d.name;
                        } else {
                            return '';
                        }
                    }
                }
                    ,{
                    field: '', title: '发行时间', sort: false,templet: function (d) {
                        var timeStr="";
                        if (d.publicTime != null) {
                            timeStr=new Date(d.publicTime).Format("yyyy-MM-dd hh:mm");
                        }
                        return timeStr.replace(new RegExp("-",("gm")),"/"); ;
                    }
                } ,
                    {
                        field: '', title: '状态', sort: false,templet: function (d) {
                            if (d.status != null) {
                                if(d.status==0){
                                    return "已删除";
                                }else if(d.status==1){
                                    return "审核中";
                                }else if(d.status==2){
                                    return "上线";
                                }
                                return d.languages;
                            } else {
                                return '未知';
                            }
                        }
                    }
                    ,
                    {
                        field: '', title: '操作', sort: false, fixed: 'right',  templet: function (d) {
                            return '<a href="javascript:;" onclick="edit('+d.id+')" class="btn-1"><font color="#6495ed" size="3">编辑</font></a>&nbsp;|&nbsp;<a href="javascript:;" onclick="del(' + d.id + ')" class="btn-1"><font color="#f6748e" size="3">删除</font></a>';
                        }
                    }
                ]
            ],
            page: true
        });
    });

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    //作品列表 end
</script>
</body>
</html>