<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/layui-2.4.3/css/layui.css?now=2}"/>
    <title>作品管理</title>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">中国原创音乐授权网</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div th:include="common/top :: top"></div>
<div th:include="common/menu :: menu"></div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">音乐管理</a> </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12" >
                <div style="float: left">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5>专辑修改</h5>
                    </div>
                    <section >
                        <label>专辑名称</label>
                        <input type="text">
                    </section>

                    <section >
                        <label>专辑类型</label>
                        <select name="阿斯顿" size="1" id="classify">
                        </select>
                    </section>

                    <section >
                        <label>专辑版本</label>
                        <select name="阿斯顿" size="1" id="classify">
                        </select>
                    </section>

                    <section >
                        <label>发行时间</label>
                        <input type="datetime-local" value="2019-09-24T13:59:59"/>
                    </section>

                    <section >
                        <label>专辑语种</label>
                        <select name="阿斯顿" size="1" id="classify">
                        </select>
                    </section>

                    <section >
                        <label>专辑风格</label>
                        <select name="阿斯顿" size="1" id="classify">
                        </select>
                    </section>
                    <section >
                        <label>专辑描述</label>
                       <textarea></textarea>
                    </section>
                    <section>
                        <label>专辑封面图</label>
                        <img th:src="@{/img/logo.png}">
                    </section>
                </div >

            </div>
        </div>
    </div>
</div>



<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; yqj <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script th:src="@{/layui-2.4.3/layui.js}"></script>

</body>
</html>